@use "../abstract/variables" as *;

.headline {
    font-size: 3rem;
}


.subheadline{
    letter-spacing: .02em;
    line-height: 1.5em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: rgba(54, 54, 54, 0.781);
}

.subheadline span{
    color: #fff;
}

.join-btn{
    font-size: .7rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
}